/**{
 display: flex; 
 flex-direction: column;
 justify-content: flex-start;
}*/
h2{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    border-style: double;
    border-color: black;
    background-color: black;
    color: yellow;
    margin-bottom: 0px;
}

h4{ border: ridge;
    background-color: black;
    color: orange;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

span{
    color: orangered;
}
.class{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cl1{
    background-color: black;
    display: grid;
    border-style: dotted;
    grid-template-columns :repeat(2,1fr);
}
.c1,.c2,.c3,.c4,.c5,.c6,.c7,.c8,.c9,.c10,.c11{
   /*background-color: blue;*/
    color: white;
    margin: 20px;
    
}
input,select{
    background-color: yellow;

}
.cl2{
    text-align: center;
    
    
}
button{
    text-align: center;
    background-color: green;
    color: ivory;
    size: 100px;
}
